#header{
    text-align: center;
    padding-bottom: 50px;
    font-family: roboto;
}
#choice-box, button{
    display: flex;
    justify-content: space-evenly;
}
button{
    padding: 12px 32px;
}
h2{
    padding-top: 50px;
    text-align: center;
}
#results, #player-comp{
    display: flex;
    justify-content: space-evenly;
}
#results, #player-comp, .namers{
    display:flex;
    justify-content: space-evenly;
}
